<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=3"
    />

    <!-- add info here -->
    <meta name="author" content="xxx" />
    <meta name="description" content=" " />
    <meta name="keywords" content=" " />
<!-- Add OG/Twitter metadata -->

    <title>CG: </title>

    <link rel="stylesheet" href="../styles/templateStyles.css" />
    <link rel="stylesheet" href=" " />
  </head>
  <body>
  
    
    <div id="staticHeader">
	<header>
	<div id="logo">
	
	</div>
		<div id="siteTitle"> Culture Guide</div>
		
		</header>
	
		<input id="mobileNavCheck" type="checkbox" aria-label="Navigation Toggle" />
		<nav>
			<ul>
				<li><a href="#">Countries</a>
					<div id="headerCountrySearch">
						<input type="text" id="headerInput" onkeyup="headerSearch()" placeholder="Filter by country name..." aria-label="Header Country Filter">
						<ul id="headerCountries">
							<li><a href="#">Finland</a></li>
							<li><a href="#">U.S.A.</a></li>
							<li><a href="#">South Africa</a></li>
							<li><a href="#">Chile</a></li>
						</ul>
					</div>			
				</li>				
				<li><a href="#">About Us</a></li>
				<li><a href="#">General Guidance</a></li>
			</ul>
		</nav>
		<label class="navButton" for="mobileNavCheck"> 
			lll
		</label>
	</div>

<main class="mainContainer">
	<h1>General Info</h1>

<section>
	<h2>Infographic</h2>
	<p>This is where our inforgraphic about culture shock will go.</p>
</section>

<section>
	<h2>What is culture shock?</h2>
	<p>Culture shock happens when you move from one place to another.</p>
</section>

</main>

<footer>
<nav>
			<ul>
				<li><a href="#">Countries</a>
	<div id="footerCountrySearch">
						<input type="text" id="footerInput" onkeyup="footerSearch()" placeholder="Filter by country name..." aria-label="Footer Country Filter">
						<ul id="footerCountries">
							<li><a href="#">Finland</a></li>
							<li><a href="#">U.S.A.</a></li>
							<li><a href="#">South Africa</a></li>
							<li><a href="#">Chile</a></li>
						</ul>
					</div>			
				</li>				
				<li><a href="#">About Us</a></li>
				<li><a href="#">General Guidance</a></li>
			</ul>
		</nav>
		
</footer>
	
  </body>
</html>
