@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

*
  { box-sizing: border-box; }
  

/* Style the header */
.header
{ background-color: #3cb371;
  text-align: center;
  padding: 20px 5%; 
  position: fixed; 
  top: 0; 
  height: 30%;
  width: 98%;
  border-radius: 20px; 
  box-shadow:  0px 6px 8px 0px rgba(0, 0, 0, 0.25); }
  
.main
{ margin-top: 10em; }
  
#mobileNavCheck
{ display: none; }

#navButtonWrap
{ display: none; }

ul
{ list-style-type: none; }

.topnav
{ display: flex; 
  background-color: lightgrey;
  margin: 0; 
  padding: 1em;  
  justify-content: center; 
  border-radius: 15px; }

.topnav a
{ flex-direction: row;
  font-size: 19px;
  padding: 30px; }

.statements
{ text-align: left; 
  border-radius: 15px 50px 30px 5px;
  display: flex; }
  
.members
{ display: flex; 
  flex-wrap: wrap; }

.members h2
{ text-align: center;
  width: 100%; }


.b, .a, .c, .d, .mission, .vision
{ background-color: lightgrey;
  margin: 50px 5%; 
  padding: 50px; 
  content: 75%; 
  width: 40%;
  box-sizing: border-box; 
  border-radius: 15px 50px 15px 50px;}

.right
{ text-align: left; }

.left
{ text-align: right;  }

.img1
{ float: right;
  padding-left: 1em;
  padding-top: 1em; }

.img2
{ float: left;
  padding-right: 1em; }

.footer
{ background-color: lightgrey; 
  margin: 2%;
  padding: 10px 0;
  text-align: center;
  border-radius: 20px; }

/* Responsive layout - makes */
@media screen and (max-width:992px)
{
	
.main
{ margin-top: 13em; }

.statements, .members
{ display: block; 
  flex-wrap: nowrap; }

.a, .b, .c, .d, .mission, .vision
{ width: auto; }
}
/* Responsive layout - makes the two 
stack on top of each other instead of next to each other*/
@media screen and (max-width:600px)
{
/* Style the header */
.header
{ background-color: lightblue;
  text-align: right;
  font: 10px bold Arial, sans-serif;
  box-sizing: border-box;
  overflow: auto; 
  position: fixed; 
  top: 0; 
  height: 20%; 
  width: 97%; 
  display: flex; 
  justify-content: space-between; }

ul
{ list-style-type: none; }

#navButtonWrap
{ display: block; }



.topnav
{ text-align: right;
  position: fixed;
  display: none; 
  background-color: cadetblue;
  width: 50%; 
  top: 20%;
  right: 0; 
  margin: 0; }
  
  .header #mobileNavCheck[type=checkbox]:checked ~ .topnav{
     display: block;
	}


.main
{ margin-top: 10em; }

.statements
{ background-color: lightgrey;
  text-align: left; }

.b, .a, .c, .d, .mission, .vision
{ background-color: lightgrey;
  font-family: "Lucida Console", monospace;
  margin: 2%; 
  padding: 10px; 
  content: 75%; }

h3
{ text-align: center; }

.members
{ text-align: center;
  font-family: Arial, sans-serif; }

.img1
{ display: none; }

.img2
{ display: none; }

.footer
{ background-color: lightgrey;
  margin: 10px;
  padding: 20px 0; 
  font-family: Arial, sans-serif; }
}
