@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

*
  { box-sizing: border-box; }

/* Style the header */
.header
{ background-color: #3cb371;
  text-align: center;
  padding: 30px 0;}

ul
{ list-style-type: none; }

.topnav
{ float: right;
  padding: 15px; }

.statements
{ text-align: center; }

.b, .a, .c, .d, .statements
{ background-color: lightgrey;
  margin: 50px; 
  padding: 70px; 
  content: 75%; }

.right
{ text-align: left; }

.left
{ text-align: right;  }

.img1
{ float: right;
  padding-left: 1em;
  padding-top: 1em; }

.img2
{ float: left;
  padding-right: 1em; }

.footer
{ background-color: lightgrey; 
  margin: 2%;
  padding: 10px 0;
  text-align: center;}


/* Responsive layout - makes the two 
stack on top of each other instead of next to each other*/
@media screen and (max-width:600px)
{
/* Style the header */
.header
{ background-color: lightblue;
  text-align: left;
  font: 10px bold Arial, sans-serif;
  margin: 2%;
  padding: 5%;
  overflow: auto; }

ul
{ list-style-type: none; }

.topnav
{ text-align: right; }

.statements
{ background-color: lightgrey;
  text-align: center; }

.b, .a, .c, .d, .statements
{ background-color: lightgrey;
  font-family: "Lucida Console", monospace;
  margin: 2%; 
  padding: 10px; 
  content: 75%; }

h3
{ text-align: center; }

.members
{ text-align: center;
  font-family: Arial, sans-serif; }

.img1
{ display: none; }

.img2
{ display: none; }

.footer
{ background-color: lightgrey;
  margin: 10px;
  padding: 20px 0; 
  font-family: Arial, sans-serif; }
}
