main p {
}
main figure {
  text-align: center;
  max-width: 100%;
  margin: auto;
}
main figure img {
  width: 100%;
}
main figcaption {
  padding: 0.5em;
  max-width: 100%;
  margin: auto;
  font-style: italic;
  text-align: left;
}
main ul,
main ol {
  line-height: 1.5em;
}
main li {
  padding: 1em;
}
.infographic {
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .infographic {
  }
}
