/* 
content: font-family: 'Noto Sans JP', sans-serif;
headers: font-family: 'RocknRoll One', sans-serif; 

colours:

light: #F4F5F4
contrast: #96BB7C

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

@media only screen and (min-width: 600px) {
  body {
    padding: 3rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}

/* Header styles */

.header__container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #fefefe, #d2dcd2, #bcceb8);
  margin: 0;
  padding: 0;
}

.header__heading {
  align-self: center;
  padding-bottom: 3rem;
}

/* nav styles */

.navigation__checkbox {
  display: none;
}

.navigation__btn {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.1);
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.1);
  text-align: center;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .navigation__btn {
    top: 3rem;
    right: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .navigation__btn {
    height: 7rem;
    width: 7rem;
    top: 6rem;
    right: 6rem;
  }
}

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@media only screen and (min-width: 768px) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .navigation__background {
    height: 6rem;
    width: 6rem;
    top: 6.5rem;
    right: 6.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  width: 0;
}

.navigation__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 240%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media only screen and (min-width: 900px) {
  .navigation__link,
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 3rem;
  }
}

.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 2.5rem;
}

@media only screen and (min-width: 992px) {
  .navigation__icon {
    margin-top: 3.25rem;
  }
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 2.5rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (min-width: 992px) {
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 3rem;
  }
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__btn:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__btn:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* main content styles */

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 3rem;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.main__content--header {
  align-self: center;
  padding-bottom: 1.5rem;
}

.main__content--para {
}

.main__content--div {
  margin-top: 1rem;
}

.main__content--img {
  width: 30rem;
  padding: 1rem;
}

.footer__container {
  background: #96bb7c;
}

.footer__nav--list {
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__nav--item{
  padding:0.2rem;
}


.footer__nav--link,
.footer__nav--link:link,
.footer__nav--link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'RocknRoll One', sans-serif;
  font-weight: 200;
  word-spacing: 0.25rem;
  letter-spacing: 0.2rem;
}



