
*{
	box-sizing:border-box;
}



/* ------------------------- styles -------------------------*/

#a {
	border-top: 2px solid darkslategrey;
}

#a, #b, #c, #d {
	margin-bottom: .5em;
	border-bottom: 2px solid darkslategrey;
}

h3 {
	font-size: 120%;
	font-weight: 700;
	padding-bottom: .5em;
	/* padding-left: 1em; */
}

.img1 { 
	display: none; 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
	
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.img1 {
		display: inline;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		width: 250px;
		margin:auto;
	}
	main {
		flex-direction:column;
	}
	#leftColumn {
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		width:100%;
	}
	#leftColumn section {
		width:49%;
		margin:0;
	}
	#rightColumn {
		display:flex;
		flex-direction:column;
		width:100%;
		margin-top:2em;
	}
	#rightColumn section {
		width:100%;
		max-width:100%;
	}
	.sectionContent {
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:space-between;
		align-content:center;
		width:100%;
		max-width:100%;
	}
	#a, #b, #c, #d {
		width:45%;
		margin:1em 1em;
		border:none;
		text-align:center;
	}
	#a p, #c p {
		text-align:left;
	}
	#b p, #d p {
		text-align:right;
	}
	
}